<div id="educacion" class="contenedor">
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <h3 class="card-title">Educacion</h3>
                <!-- <div class="btn-edit">
                    <a class="btn btn-light" href="#" role="button">
                        <i class="bi bi-pencil"></i>
                    </a>
                </div> -->
            </div>
            <div class="d-flex">
                <p class="card-text">Info general de la educacion.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias alias qui necessitatibus.
                    Consequatur veritatis dolorum tempora adipisci eius! Hic quasi a error velit mollitia modi dolorum
                    veritatis pariatur ratione deleniti.
                </p>
                <div class="btn-edit">
                    <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <ul class="list-group">
                <li>
                    <div class="list-container">
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="logo-image-container">
                                <img src="../../../../assets/Imagenes/ig.png">
                            </div>
                            <div class="list-info ">
                                <h5 class="mb-1">edu.nombre</h5>
                                <p class="mb-1">edu.descripcion</p>
                            </div>
                        </a>
                        <div>
                            <div class="btn-edit">
                                <button class="btn btn-light">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </div>
                            <div class="btn-delete">
                                <button class="btn btn-light">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <div>
                    <button type="button" class="btn btn-light" routerLink="/nuevaedu" >
                        Nueva Educacion
                    </button>
                </div>
            </ul>
            
        </div>
    </div>
 </div>