<div class="card" id="container-educacion">
    <div class="card-body">
        <div class="d-flex">
            <h3 class="card-title">Educación</h3>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="list-group col-lg-8 col-md-12">
                <div *ngFor="let educacion of estudios" class="list-group-item d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <!-- <div class="logo-image-container">
                                <a href=""><img src="{{educacion?.imagenUrl}}" alt="foto-de-la-educacion" class="img-fluid rounded-circle w-60"></a>
                             </div> -->
                        <div class="logo-image-container">
                            <img src="../../../../assets/Imagenes/mortarboard-bootstrap.svg">
                        </div>
                        <div class="list-info ">
                            <h5 class="mb-1">{{educacion?.nombre}}</h5>
                            <p class="mb-1">{{educacion?.descripcion}}</p>
                            <!-- <p class="mb-1">{{exp?.fechaInicio | date:"d 'de' MMMM 'de' YYYY"}}</p> -->
                            <div *ngIf="educacion?.fechaInicio || educacion?.fechaFin" class="d-flex">
                                <p *ngIf="educacion?.fechaInicio" class="mb-1" style="padding-right: 10px;">
                                    Desde: {{educacion?.fechaInicio | date: 'shortDate'}}
                                </p>
                                <p *ngIf="educacion?.fechaFin" class="mb-1">
                                    Hasta: {{educacion?.fechaFin | date: 'shortDate'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLogged" class="d-flex align-items-start">
                        <button (click)="onOpenModal(educacion, 'actualizar')" class="btn btn-secondary"
                            data-placement="top" data-original-title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button (click)="onOpenModal(educacion, 'eliminar')" class="btn btn-danger" data-placement="top"
                            data-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="isLogged" class="col-lg-4">
                <a class="btn btn-primary" (click)="onOpenModal(null, 'agregar')">
                    Nuevo Estudio
                </a>
            </div>
        </div>

    </div>
</div>



<!-- Modal, Agregar Educacion-->
<div class="modal fade" id="agregarEducacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Estudio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #formDeCreacionEducacion="ngForm" (ngSubmit)="onAgregarEducacion(formDeCreacionEducacion)"
                    id="formDeCreacionEducacion">
                    <div class="form-floating mb-1">
                        <input type="text" name="nombre" ngModel="{{editEducacion?.nombre}}" class="form-control"
                            id="nombre" required>
                        <label for="nombre">Nombre</label>
                        <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" id="id">
                    <div class="form-floating mb-1">
                        <input type="text" name="descripcion" ngModel="{{editEducacion?.descripcion}}"
                            class="form-control" id="descripcion">
                        <label for="descripcion">Descripcion</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" name="fechaInicioExperiencia" ngModel="{{editEducacion?.fechaInicio}}"
                            class="form-control" id="fechaInicioExperiencia">
                        <label for="descripcion">Fecha de inicio de trabajo</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" name="fechaFin" ngModel="{{editEducacion?.fechaFin}}" class="form-control"
                            id="fechaFin">
                        <label for="fechaFin">Fecha de finalización de trabajo</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" name="logo" ngModel="{{editEducacion?.logo}}" class="form-control" id="logo"
                            disabled>
                        <label for="logo">Logo</label>
                    </div>
                </form>
                <!-- submit no funciona. está fuera del form -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit" form="formDeCreacionEducacion" [disabled]="!formDeCreacionEducacion.valid"
                        class="btn btn-primary">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Actualizar Educacion-->
<div class="modal fade" id="actualizarEducacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Estudio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #formDeActualizacionEducacion="ngForm"
                    (ngSubmit)="onActualizarEducacion(formDeActualizacionEducacion.value)"
                    id="formDeActualizacionEducacion">
                    <div class="form-floating mb-1">
                        <input type="text" name="nombre" ngModel="{{editEducacion?.nombre}}" class="form-control"
                            id="nombre" required>
                        <label for="nombre">Nombre</label>
                        <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id">
                    <div class="form-floating mb-1">
                        <input type="text" name="descripcion" ngModel="{{editEducacion?.descripcion}}"
                            class="form-control" id="descripcion">
                        <label for="descripcion">Descripcion</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" name="fechaInicio" ngModel class="form-control" id="fechaInicioExperiencia">
                        <label for="fechaInicio">Fecha de inicio de trabajo</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" name="fechaFin" ngModel class="form-control" id="fechaFin">
                        <label for="fechaFin">Fecha de finalización de trabajo</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" name="logo" ngModel="{{editEducacion?.logo}}" class="form-control" id="logo"
                            disabled>
                        <label for="logo">Logo</label>
                    </div>
                </form>
                <!-- submit no funciona. está fuera del form -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="formDeActualizacionEducacion" [disabled]="!formDeActualizacionEducacion.valid"
                        class="btn btn-primary">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Eliminar Educacion-->
<div class="modal fade" id="eliminarEducacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Estudio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Seguro que se desea eliminar la educacíon "{{deleteEducacion?.nombre}}"</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button (click)="onEliminarEducacion(deleteEducacion.id)" class="btn btn-danger"
                        data-bs-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>