<!-- Editamos la información de la sección perfil (nombre, apellido, titulo), la sección "AcercaDe" (más información 
personal), y la información del "footer" (email y teléfono)-->
<!-- Perfil -->
<div id="container-persona">
    <div class="card mb-3 ">
        <div>
            <img class="card-img-top" src="/assets/Imagenes/fondo.jpg" alt="Foto de fondo">
        </div>

        <div class="card-body d-flex">
            <div class="perfil">
                <img class="imagen-perfil" src="/assets/Imagenes/perfil-del-usuario.png" alt="Foto Perfil">
                <div>
                    <h5 class="card-title">{{persona?.nombre}} {{persona?.apellido}}</h5>
                </div>
                <div class="card-text ">
                    <p class="card-text">{{persona?.titulo}}</p>
                </div>
            </div>
            <div *ngIf="isLogged" class="btn-edit ">
                <button (click)="onOpenModal(persona, 'actualizar')" class="btn btn-light" data-placement="top"
                    data-original-title="Edit">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal, Actualizar Persona-->
<div class="modal fade" id="actualizarPersonaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar datos de la persona</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #formDeActualizacionPersona="ngForm"
                    (ngSubmit)="onActualizarPersona(formDeActualizacionPersona.value)" id="formDeActualizacionPersona">
                    <input type="hidden" ngModel="{{editPersona?.id}}" name="id" class="form-control" id="id">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="nombre" ngModel="{{editPersona?.nombre}}"
                            id="nombre" required>
                        <label for="nombre">Nombre</label>
                        <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="apellido" ngModel="{{editPersona?.apellido}}"
                            id="apellido" required>
                        <label for="apellido">Apellido</label>
                        <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
                    </div>
                    <div class="form-floating mb-1">
                        <input class="form-control" type="text" name="email" ngModel="{{editPersona?.email}}"
                            id="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input class="form-control" type="text" name="telefono" ngModel="{{editPersona?.telefono}}"
                            id="telefono">
                        <label for="telefono">Teléfono</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input class="form-control" type="text" name="titulo" ngModel="{{editPersona?.titulo}}"
                            id="titulo">
                        <label for="titulo">Título</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" name="imagenPerfil"
                            ngModel="{{editPersona?.imgPerfilUrl}}" id="imagenPerfil" disabled>
                        <label for="imagenPerfil">Url de imagen de perfil</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" name="imagenDeFondo" ngModel="{{editPersona?.imgFondo}}" class="form-control"
                            id="imagenDeFondo" disabled>
                        <label for="imagenDeFondo">Url de imagen de fondo</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="formDeActualizacionPersona" [disabled]="!formDeActualizacionPersona.valid"
                        class="btn btn-primary">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>