<!-- Perfil -->

<div class="card mb-3 ">
    <div>
        <img class="card-img-top" src="/assets/Imagenes/fondo.jpg" alt="Foto de fondo">
    </div>

    <div class="card-body d-flex">
        <div class="perfil">
            <img class="imagen-perfil" src="/assets/Imagenes/perfil-del-usuario.png" alt="Foto Perfil">
            <div>
                <h5 class="card-title">{{persona?.nombre}} {{persona?.apellido}}</h5>
            </div>
            <div class="card-text ">
                <p class="card-text">{{persona?.descripcion}}</p>
            </div>
        </div>
        <div class="btn-edit ">
            <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil"></i></a>
        </div>
    </div>
</div>