<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>

          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group pt-3">

                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input class="" formControlName="username" type="text" placeholder="Username" required>
                </div>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                  <div *ngIf="username.errors?.['required']">
                    Ingresar un nombre de usuario.
                  </div>
                  <div *ngIf="username.errors?.['minlength']">
                    Como mínimo debe tener 4 caracteres.
                  </div>
                </div>

                <div class="form-group pt-3">
                  <div class="input-field">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password" type="password" placeholder="Password">
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.errors?.['required']">
                      La contraseña es requerida
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                      Como mínimo debe tener 4 caracteres.
                    </div>
                  </div>
                </div>

                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </div>
  </div>


</div>