
.icon-footer-red {
  font-size: 2rem;
  color: rgb(103, 153, 247);
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.icon-footer-red:hover {
  transform: translateY(-2px);
}
.icon-footer-red:active {
  transform: translateY(-1px);
}

ul {
  padding: 0%;
  align-items: center;
  text-align: center;
}
