<div id="container-redSocial"  >
  <ul class="row row-cols-4 row-cols-sm-3 row-cols-md-5 " style="margin: 0%;">
    <li *ngFor="let redSocial of redesSociales" class="mb-3  ">
      <a *ngIf="!isLogged" [href]="redSocial?.url" class="row icon-link-hover"
        style="--bs-icon-link-transform: translate3d(0, -.325rem, 0);">
        <i [class]="redSocial?.icono" class="icon-footer-red"></i>
        <span style="word-break: break-word;">{{redSocial?.nombre}}</span>
      </a>
      <button *ngIf="isLogged" type="button" class="btn text-white" (click)="onOpenModal(redSocial, 'actualizar')"
        (mouseenter)="showEditIcon = true" (mouseleave)="showEditIcon = false">
        <i class="bi bi-pencil icon-footer-red" *ngIf="showEditIcon"></i>
        <i [class]="redSocial?.icono" class="icon-footer-red" *ngIf="!showEditIcon"></i>
        <span style="word-break: break-word;">{{redSocial?.nombre}}</span>
      </button>
    </li>
    <div *ngIf="isLogged">
      <button class="btn btn-outline-primary rounded-circle" (click)="onOpenModal(null, 'agregar')">
        <i class="bi bi-plus-lg" style="font-size: 1.2rem;"></i>
      </button>
    </div>
  </ul>
</div>

<!-- Modal, Agregar RedSocial-->
<div class="modal fade" id="agregarRedSocialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Red Social</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRedSocial" (ngSubmit)="onAgregarRedSocial()" id="formDeCreacionRedSocial">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ícono</label>
            <select class="form-select" formControlName="icono" placeholder="Ícono" aria-label="Default select example"
              id="iconoRedSocial">
              <option value="bi bi-signal">Signal</option>
              <option value="bi bi-telegram">Telegram</option>
              <option value="bi bi-whatsapp">Whatsapp</option>
              <option value="bi bi-discord">Discord</option>
              <option value="bi bi-twitch">Twitch</option>
              <option value="bi bi-youtube">Youtube</option>
              <option value="bi bi-facebook">Facebook</option>
              <option value="bi bi-instagram">Instagram</option>
              <option value="bi bi-linkedin">Linkedin</option>
              <option value="bi bi-pinterest">Pinterest</option>
              <option value="bi bi-reddit">Reddit</option>
              <option value="bi bi-twitter">Twitter</option>
              <option value="bi bi-github">Github</option>
              <option value="bi bi-stack-overflow">Stack Overflow</option>
              <option value="bi bi-spotify">Spotify</option>
              <!-- Agrega más opciones de íconos aquí -->
            </select>
            <div class="form-text">
              La elección del ícono es obligatoria.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enlace</label>
            <input class="form-control" type="text" formControlName="enlace" placeholder="https://twitter.com/"
              aria-label="default input example">
          </div>

          <!-- <div class="mb-3">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
          </div> -->


        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button form="formDeCreacionRedSocial" [disabled]="!formRedSocial.valid" class="btn btn-primary">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Actualizar RedSocial-->
<div class="modal fade" id="actualizarRedSocialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar información de la Red Social</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRedSocial" (ngSubmit)="onActualizarRedSocial()" id="formDeActualizacionRedSocial">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ícono</label>
            <select class="form-select" formControlName="icono" placeholder="Ícono" aria-label="Default select example"
              id="iconoRedSocial">
              <option value="bi bi-signal">Signal</option>
              <option value="bi bi-telegram">Telegram</option>
              <option value="bi bi-whatsapp">Whatsapp</option>
              <option value="bi bi-discord">Discord</option>
              <option value="bi bi-twitch">Twitch</option>
              <option value="bi bi-youtube">Youtube</option>
              <option value="bi bi-facebook">Facebook</option>
              <option value="bi bi-instagram">Instagram</option>
              <option value="bi bi-linkedin">Linkedin</option>
              <option value="bi bi-pinterest">Pinterest</option>
              <option value="bi bi-reddit">Reddit</option>
              <option value="bi bi-twitter">Twitter</option>
              <option value="bi bi-github">Github</option>
              <option value="bi bi-stack-overflow">Stack Overflow</option>
              <option value="bi bi-spotify">Spotify</option>
              <!-- Agrega más opciones de íconos aquí -->
            </select>
            <div class="form-text">
              La elección del ícono es obligatoria.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enlace</label>
            <input class="form-control" type="text" formControlName="enlace" placeholder="https://twitter.com/"
              aria-label="default input example">
          </div>

        </form>
        <!-- submit no funciona. está fuera del form -->
        <div class="modal-footer">
          <button (click)="onEliminarRedSocial()" class="btn btn-outline-danger" data-placement="top"
            data-original-title="Delete" data-bs-dismiss="modal">
            Eliminar Red Social
          </button>
          <button form="formDeActualizacionRedSocial" [disabled]="!formRedSocial.valid" class="btn btn-primary"
            data-bs-dismiss="modal">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Eliminar RedSocial-->
<!-- <div class="modal fade" id="eliminarRedSocialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar RedSocial</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Seguro que se desea eliminar el proyecto "{{formRedSocial.value.nombre}}" ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onEliminarRedSocial()" class="btn btn-danger" data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div> -->