<!-- Perfil -->
<section style="margin: 5px;">
    <div class="card mb-3 ">
        <div>
            <img class="card-img-top" src="/assets/Imagenes/WallPappers/61 - 4Fw3yLB.jpg" alt="Foto de fondo">
        </div>

        <div class="card-body d-flex">
            <div class="perfil">
                <img class="imagen-perfil" src="/assets/Imagenes/instagram.png" alt="Foto de Perfil">
                <div>
                    <h5 class="card-title">Ernesto</h5>
                </div>
                <div class="card-text ">
                    <p class="card-text">Info</p>
                </div>
            </div>
            <div class="btn-edit ">
                <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil"></i></a>
            </div>
        </div>
    </div>
</section>