<!-- De igual manera que actualizamos la Persona, solo utilizamos un campo-->

<!-- Card 1: Acerca de -->

    <div class="card text-center " id="container-acercaDe">
        <div class="card-body">

            <h3 *ngIf="persona?.sobreMi">Acerca de Mi</h3>

            <p class="card-text description-style">{{persona?.sobreMi}}</p>
            <div *ngIf="isLogged" style="padding-top: 10px;">
                <a class="btn btn-outline-primary" (click)="onOpenModal(persona, 'actualizar')">
                    Agregar sobre mi
                </a>
            </div>
        </div>
    </div>


<!-- <div class="card" id="container-acercaDe">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Acerca de</h5>
            <div *ngIf="isLogged" class="btn-edit ">
                <button (click)="onOpenModal(persona, 'actualizar')" class="btn btn-light" data-placement="top"
                    data-original-title="Edit">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
        </div>
        <div>
            <p class="card-text description-style">{{persona?.sobreMi}}</p>
        </div>
    </div>
</div> -->

<!-- Modal, Actualizar Acerca De-->
<div class="modal fade" id="actualizarAcercaDeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar información AcercaDe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="acercaDeForm" (ngSubmit)="onActualizarAcercaDe()"
                    id="formDeActualizacionAcercaDe">

                    <div class="form-floating mb-1">
                        <textarea class="form-control" formControlName="sobreMi"
                            placeholder="Información detallada" id="sobreMi" style="height: 100px"
                            [ngClass]="{'is-invalid':sobreMi?.errors && sobreMi?.dirty,'is-valid':!sobreMi?.errors && sobreMi?.dirty}"></textarea>
                        <label for="sobreMi">Más información sobre mí</label>
                        <div *ngIf="sobreMi.invalid && (sobreMi.dirty || sobreMi.touched)" class="text-danger mb-3">
                            <div *ngIf="sobreMi.errors?.['minlength']" >
                                Se deben ingresar como mínimo 10 caracteres.
                            </div>
                        </div>
                    </div>

                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="formDeActualizacionAcercaDe" [disabled]="!acercaDeForm.valid"
                        class="btn btn-primary">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>