<!-- Card 1: Acerca de -->
<div id="acerca-de" class="contenedor">
    <div class="card ">
        <div class="card-body">
            <div>
                <h5 class="card-title">Acerca de</h5>
                <div *ngIf="isLogged" class="btn-edit">
                    <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
            <div>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit possimus repellendus
                    consequuntur ab voluptates mollitia? Fugiat maxime accusamus tempora.
                    ional content.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit possimus repellendus
                    c
                    ional content.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit possimus repellendus
                    c</p>
                <div *ngIf="isLogged" class="btn-edit">
                    <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>