<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbar-toggler">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/Imagenes/laptopBoostrap-svg.svg" width="50" alt="Argentina Programa"> Argentina Programa
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand " href="#">
                            <img class="logos-redes" src="../../../assets/Imagenes/instagramBoostrap-svg.svg" alt="logos redes">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img class="logos-redes" src="../../../assets/Imagenes/pencilBoostrap-svg.svg" alt="logos redes">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand " href="#">
                            <img class="logos-redes" src="../../../assets/Imagenes/teleg.png" alt="logos redes">
                        </a>
                    </li>
                    <li>
                        <button *ngIf="!isLogged" class="btn btn-outline-dark" (click)="logIn()">Iniciar Sesión</button>
                        <button *ngIf="isLogged" class="btn btn-outline-dark" (click)="logOut()" >Cerrar Sesión</button>
                        <!-- <div *ngIf="isLogged">
                            <p>{{ loginService.getUser().username }}</p>
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </header>