<div class="text-center pt-3 pb-3" id="container-experiencia">

    <div class="card-body">
        <h2 *ngIf="hayElementos()">Experiencia</h2>

        <div class="d-flex justify-content-evenly row row-cols-1 row-cols-sm-2 row-cols-md-4">

            <div *ngFor="let exp of experiencia" class="card text-center" style="width: 18rem;">
                <img class="mx-auto d-block logo-image" *ngIf="exp?.logo" src="{{ exp?.logo }}"
                    alt="logo-de-la-experiencia">
                <img class="mx-auto d-block logo-image" *ngIf="!exp?.logo"
                    src="../../../../assets/Imagenes/laptopBoostrap-svg.svg" alt="logo-por-defecto-de-la-eduacion">
                <div class="card-body">
                    <h4>{{exp?.nombre}}</h4>
                    <p class="card-text description-style">{{exp?.descripcion}}</p>
                    <div *ngIf="exp?.fechaInicio || exp?.fechaFin" class="container text-center">
                        <div class="row">
                            <p *ngIf="exp?.fechaInicio" class="col" style="padding-right: 10px;">
                                Desde: {{exp?.fechaInicio | date: 'shortDate'}}
                            </p>
                            <p *ngIf="exp?.fechaFin" class="col">
                                Hasta: {{exp?.fechaFin | date: 'shortDate'}}
                            </p>
                        </div>
                        
                    </div>
                    <div *ngIf="isLogged" class="d-flex justify-content-evenly">
                        <button (click)="onOpenModal(exp, 'actualizar')" class="btn btn-outline-secondary"
                            data-placement="top" data-original-title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button (click)="onOpenModal(exp, 'eliminar')" class="btn btn-outline-danger" data-placement="top"
                            data-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isLogged" style="padding-top: 10px;">
            <a class="btn btn-outline-primary" (click)="onOpenModal(null, 'agregar')">
                Nueva Experiencia
            </a>
        </div>
    </div>
</div>

<!-- <div class="card" id="container-experiencia">
    <div class="card-body">
        <div class="d-flex">
            <h3 class="card-title">Experiencia</h3>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="list-group col-lg-8 col-md-12">
                <div *ngFor="let exp of experiencia" class="list-group-item d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        
                        <div class="logo-image-container">                            
                            <img *ngIf="exp?.logo" src="{{ exp?.logo }}" alt="logo-experiencia">
                            <img *ngIf="!exp?.logo" src="../../../../assets/Imagenes/mortarboard-bootstrap.svg" alt="logo-experiencia">
                        </div>
                        <div class="list-info ">
                            <h5 class="mb-1">{{exp?.nombre}}</h5>
                            <p class="mb-1 description-style">{{exp?.descripcion}}</p>
                            
                            <div *ngIf="exp?.fechaInicio || exp?.fechaFin" class="d-flex">
                                <p *ngIf="exp?.fechaInicio" class="mb-1" style="padding-right: 10px;">
                                    Desde: {{exp?.fechaInicio | date: 'shortDate'}}
                                </p>
                                <p *ngIf="exp?.fechaFin" class="mb-1">
                                    Hasta: {{exp?.fechaFin | date: 'shortDate'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLogged" class="d-flex align-items-start">
                        <button (click)="onOpenModal(exp, 'actualizar')" class="btn btn-secondary"
                            data-placement="top" data-original-title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button (click)="onOpenModal(exp, 'eliminar')" class="btn btn-danger" data-placement="top"
                            data-original-title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="isLogged" class="col-lg-4">
                <a class="btn btn-primary" (click)="onOpenModal(null, 'agregar')">
                    Nueva Experiencia
                </a>
            </div>
        </div>

    </div>
</div> -->



<!-- Modal, Agregar Experiencia-->
<div class="modal fade" id="agregarExperienciaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="experienciaForm" (ngSubmit)="onAgregarExperiencia()" id="formDeCreacionExperiencia">
                    <div class="form-floating mb-1">
                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                        [ngClass]="{'is-invalid':nombre?.errors && nombre?.touched,'is-valid':!nombre?.errors && nombre?.touched}">
                        <label for="nombre">Nombre</label>
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mb-3">
                            <div *ngIf="nombre.errors?.['required']" >
                                El nombre es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <textarea class="form-control" formControlName="descripcion"
                            placeholder="Información detallada" id="descripcion" style="height: 100px"
                            [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.dirty,'is-valid':!descripcion?.errors && descripcion?.dirty}"></textarea>
                        <label for="descripcion">Descripcion</label>
                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger mb-3">
                            <div *ngIf="descripcion.errors?.['required']" >
                                La descripción es obligatoria.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="date" formControlName="fechaInicio" class="form-control" id="fechaInicioExp">
                        <label for="fechaInicio">Fecha de inicio</label>
                        <div *ngIf="(fechaInicio.errors?.['fechaMenor'] || fechaInicio.errors?.['fechaMayor']) && fechaInicio.touched"
                            class="text-danger mb-3">
                            <div *ngIf="fechaInicio.errors?.['fechaMenor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">mayor</span> a 01-01-2000.</p>
                            </div>
                            <div *ngIf="fechaInicio.errors?.['fechaMayor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">menor</span> al día de hoy.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="date" formControlName="fechaFin" class="form-control" id="fechafinExp">
                        <label for="fechaFin">Fecha de finalización</label>
                        <!-- <div *ngIf="(fechaFin.errors?.['fechaMenor'] || fechaFin.errors?.['fechaMayor']) && fechaFin.touched"
                            class="text-danger mb-3">
                            <div *ngIf="fechaFin.errors?.['fechaMenor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">mayor</span> a {{ fechaInicio.value }}.</p>
                            </div>
                            <div *ngIf="fechaFin.errors?.['fechaMayor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">menor</span> al día de hoy.
                            </div>
                        </div> -->
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" formControlName="logo" class="form-control" id="logo">
                        <label for="logo">Logo de la institución</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="formDeCreacionExperiencia" [disabled]="!experienciaForm.valid" class="btn btn-primary">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Actualizar Experiencia-->
<div class="modal fade" id="actualizarExperienciaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edición</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="experienciaForm" (ngSubmit)="onActualizarExperiencia()"
                    id="formDeActualizacionExperiencia">
                    <div class="form-floating mb-1">
                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                        [ngClass]="{'is-invalid':nombre?.errors && nombre?.touched,'is-valid':!nombre?.errors && nombre?.touched}">
                        <label for="nombre">Nombre</label>
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mb-3">
                            <div *ngIf="nombre.errors?.['required']" >
                                El nombre es obligatorio.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <textarea class="form-control" formControlName="descripcion"
                            placeholder="Información detallada" id="descripcion" style="height: 100px"
                            [ngClass]="{'is-invalid':descripcion?.errors && descripcion?.dirty,'is-valid':!descripcion?.errors && descripcion?.dirty}"></textarea>
                        <label for="descripcion">Breve descripción del trabajo</label>
                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger mb-3">
                            <div *ngIf="descripcion.errors?.['required']" >
                                La descripción es obligatoria.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="date" formControlName="fechaInicio" class="form-control" id="fechaInicioExp">
                        <label for="fechaInicio">Fecha de inicio</label>
                        <div *ngIf="(fechaInicio.errors?.['fechaMenor'] || fechaInicio.errors?.['fechaMayor']) && fechaInicio.touched"
                            class="text-danger mb-3">
                            <div *ngIf="fechaInicio.errors?.['fechaMenor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">mayor</span> a 01-01-2000.</p>
                            </div>
                            <div *ngIf="fechaInicio.errors?.['fechaMayor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">menor</span> al día de hoy.
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-1">
                        <input type="date" formControlName="fechaFin" class="form-control" id="fechafinExp">
                        <label for="fechaFin">Fecha de finalización</label>
                        <div *ngIf="(fechaFin.errors?.['fechaMenor'] || fechaFin.errors?.['fechaMayor']) && fechaFin.touched"
                            class="text-danger mb-3">
                            <div *ngIf="fechaFin.errors?.['fechaMenor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">mayor</span> a 01-01-2000.</p>
                            </div>
                            <div *ngIf="fechaFin.errors?.['fechaMayor']">
                                <p>La fecha debe ser <span style="font-weight: bold;">menor</span> al día de hoy.
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" formControlName="logo" class="form-control" id="logo">
                        <label for="logo">Logo</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="formDeActualizacionExperiencia" [disabled]="!experienciaForm.valid" class="btn btn-primary" data-bs-dismiss="modal">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Eliminar Experiencia-->
<div class="modal fade" id="eliminarExperienciaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Seguro que se desea eliminar la experiencia "{{experienciaForm.value.nombre}}" ?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button (click)="onEliminarExperiencia()" class="btn btn-danger" data-bs-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>