<div class="card" id="container-skill">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="card-title">Habilidades técnicas e interpersonales</h3>
      </div>
    </div>
    <div class="container text-center">
      <div class="d-flex justify-content-evenly row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div *ngFor="let skill of skills">
          <div class="col">
            <circle-progress style="width: 150px;" [title]="(skill.nombre)" [showTitle]="true" [showUnits]="true"
              [percent]="(skill.porcentaje)" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
              [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
              [responsive]="true" [imageSrc]="''" [showImage]="false" [imageHeight]="50" [imageWidth]="50"
              [titleColor]="'black'">
            </circle-progress>

            <div *ngIf="isLogged" class="">
              <a (click)="onOpenModal(skill, 'actualizar')" class="btn btn-secondary" data-placement="top"
                data-original-title="Edit">
                <i class="bi bi-pencil"></i>
              </a>
              <a (click)="onOpenModal(skill, 'eliminar')" class="btn btn-danger" data-placement="top"
                data-original-title="Delete">
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLogged" >
        <a class="btn btn-primary" (click)="onOpenModal(null, 'agregar')">
          Nueva habilidad
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Agregar Skill-->
<div class="modal fade" id="agregarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSkill" (ngSubmit)="onAgregarSkill()" id="formDeCreacionSkill">
          <div class="form-floating mb-1">
            <input type="text" formControlName="nombre" class="form-control" id="nombre"
              [ngClass]="{'is-invalid':nombre?.errors && nombre?.dirty,'is-valid':!nombre?.errors && nombre?.dirty}">
            <label for="nombre">Nombre del Proyecto</label>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mb-3">
              <div *ngIf="nombre.errors?.['required']">
                El nombre es obligatorio.
              </div>
            </div>
          </div>
          <!-- <div class="alert alert-danger" role="alert">
                                  Campo obligatorio!
                              </div> -->
      
          <div class="form-floating mb-1">
            <input type="number" formControlName="porcentajeHabilidad" class="form-control" id="porcentajeHabilidad"
              [ngClass]="{'is-invalid':porcentajeHabilidad?.errors && porcentajeHabilidad?.dirty,'is-valid':!porcentajeHabilidad?.errors && porcentajeHabilidad?.dirty}">
            <label for="porcentajeHabilidad">Porcentaje de la Habilidad</label>
            <div *ngIf="porcentajeHabilidad.invalid && (porcentajeHabilidad.dirty || porcentajeHabilidad.touched)" class="text-danger mb-3">
              <div *ngIf="porcentajeHabilidad.errors?.['required']">
                El porcentaje estimado es obligatorio.
              </div>
              <div *ngIf="porcentajeHabilidad.errors?.['min'] || porcentajeHabilidad.errors?.['max']">
                Porcentaje incorrecto.
              </div>
            </div>
          </div>
          <!-- <div class="form-floating">
                              <label for="imagenUrl">Imagen URL</label>
                              <input type="text" formControlName="imagenUrl" class="form-control" id="imagenUrl"
                                 placeholder="Image URL">
                          </div> -->
        </form>
        <!-- submit no funciona. está fuera del form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="submit" form="formDeCreacionSkill" [disabled]="!formSkill.valid"
            class="btn btn-primary">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Actualizar Skill-->
<div class="modal fade" id="actualizarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSkill" (ngSubmit)="onActualizarSkill()"
          id="formDeActualizacionSkill">
          <div class="form-floating mb-1">
            <input type="text" formControlName="nombre" class="form-control" id="nombre"
              [ngClass]="{'is-invalid':nombre?.errors && nombre?.dirty,'is-valid':!nombre?.errors && nombre?.dirty}">
            <label for="nombre">Nombre del Proyecto</label>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mb-3">
              <div *ngIf="nombre.errors?.['required']">
                El nombre es obligatorio.
              </div>
            </div>
          </div>
          <!-- <div class="alert alert-danger" role="alert">
                                  Campo obligatorio!
                              </div> -->
      
          <div class="form-floating mb-1">
            <input type="number" formControlName="porcentajeHabilidad" class="form-control" id="porcentajeHabilidad"
              [ngClass]="{'is-invalid':porcentajeHabilidad?.errors && porcentajeHabilidad?.dirty,'is-valid':!porcentajeHabilidad?.errors && porcentajeHabilidad?.dirty}">
            <label for="porcentajeHabilidad">Porcentaje de la Habilidad</label>
            <div *ngIf="porcentajeHabilidad.invalid && (porcentajeHabilidad.dirty || porcentajeHabilidad.touched)" class="text-danger mb-3">
              <div *ngIf="porcentajeHabilidad.errors?.['required']">
                El porcentaje estimado es obligatorio.
              </div>
              <div *ngIf="porcentajeHabilidad.errors?.['min'] || porcentajeHabilidad.errors?.['max']">
                Porcentaje incorrecto.
              </div>
            </div>
          </div>
        </form>
        <!-- submit no funciona. está fuera del form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button form="formDeActualizacionSkill" [disabled]="!formSkill.valid" class="btn btn-primary">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Eliminar Skill-->
<div class="modal fade" id="eliminarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Seguro que se desea eliminar la habilidad "{{nombre.value}}" ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onEliminarSkill()" class="btn btn-danger" data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>