<div class="card" id="container-skill">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h3 class="card-title">Habilidades técnicas e interpersonales</h3>
      </div>
      <div *ngIf="isLogged" class="col-lg-4">
        <a class="btn btn-primary" (click)="onOpenModal(null, 'agregar')">
          Nueva habilidad
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-evenly">
      <div *ngFor="let skill of skills">
        <div class="d-flex">
          <div class="">
            <circle-progress style="width: 175px;" [title]="(skill.nombre)" [showTitle]="true" [showUnits]="true"
              [percent]="(skill.porcentaje)" [radius]="100" [outerStrokeWidth]="10" [innerStrokeWidth]="6"
              [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="600"
              [responsive]="true" [imageSrc]="''" [showImage]="false" [imageHeight]="50" [imageWidth]="50"
              [titleColor]="'black'">
            </circle-progress>
          </div>
          <div *ngIf="isLogged" class="d-flex align-items-start">
            <a (click)="onOpenModal(skill, 'actualizar')" class="btn btn-secondary" data-placement="top"
              data-original-title="Edit">
              <i class="bi bi-pencil"></i>
            </a>
            <a (click)="onOpenModal(skill, 'eliminar')" class="btn btn-danger" data-placement="top"
              data-original-title="Delete">
              <i class="bi bi-trash"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Agregar Skill-->
<div class="modal fade" id="agregarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formDeCreacionSkill="ngForm" (ngSubmit)="onAgregarSkill(formDeCreacionSkill)" id="formDeCreacionSkill">
          <div class="form-floating mb-3">
            <input type="text" name="nombre" ngModel class="form-control" id="nombre" required>
            <label for="nombre">Nombre de la habilidad</label>
            <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
          </div>
          <div class="form-floating">
            <input type="text" name="porcentaje" ngModel class="form-control" id="porcentaje" required>
            <label for="porcentaje">Porcentaje estimado de la habilidad</label>
          </div>
          <!-- <div class="form-floating">
                        <label for="imagenUrl">Imagen URL</label>
                        <input type="text" formControlName="imagenUrl" class="form-control" id="imagenUrl"
                           placeholder="Image URL">
                    </div> -->
        </form>
        <!-- submit no funciona. está fuera del form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="submit" form="formDeCreacionSkill" [disabled]="!formDeCreacionSkill.valid"
            class="btn btn-primary">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Actualizar Skill-->
<div class="modal fade" id="actualizarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formDeActualizacionSkill="ngForm" (ngSubmit)="onActualizarSkill(formDeActualizacionSkill.value)"
          id="formDeActualizacionSkill">
          <div class="form-floating mb-3">
            <input type="text" name="nombre" ngModel class="form-control" id="nombre" required>
            <label for="nombre">Nombre de la habilidad</label>
            <!-- <div class="alert alert-danger" role="alert">
                            Campo obligatorio!
                        </div> -->
          </div>
          <input type="hidden" ngModel="{{editSkill?.id}}" name="id" class="form-control" id="id">
          <div class="form-floating">
            <input type="text" name="porcentaje" ngModel class="form-control" id="porcentaje" required>
            <label for="porcentaje">Nuevo porcentaje de la habilidad</label>
          </div>
          <!-- <div class="form-floating">
                        <label for="imagenUrl">Imagen URL</label>
                        <input type="text" name="imagenUrl" ngModel class="form-control" id="imagenUrl"
                           placeholder="Image URL" required>
                    </div> -->
        </form>
        <!-- submit no funciona. está fuera del form -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button form="formDeActualizacionSkill" [disabled]="!formDeActualizacionSkill.valid" class="btn btn-primary">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal, Eliminar Skill-->
<div class="modal fade" id="eliminarSkillModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Seguro que se desea eliminar la habilidad "{{deleteSkill?.nombre}}" ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onEliminarSkill(deleteSkill.id)" class="btn btn-danger" data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>